.hero__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 55px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


.loader-text {
    font-size: 17px;
    color: #555;
    user-select: none;
}

.error {
    margin-top: 20vh;
    font-size: 36px;
    user-select: none;
    opacity: 0.2;
}