* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", Arial, sans-serif;
  background-color: #fafafa;
}


.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

}

